:root {
  --main-color: #757575;
  --second-color: #212121;
  --typical-lh: 1.33;
  --main-font: "Roboto", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: #ffffff;
}

/* -----------Шапка сайту --------------------------------------------------------- */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.header-list {
  list-style: none;
}
.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

/* -------- Герой --------  */
.hero {
  background-color: #2f303a;
}

.hero-top-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
}
.hero-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.benefits {
}
.benefits-list {
  list-style: none;
}
.benefits-item {
}
.benefits-title {
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}
.benefits-text {
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about {
}
.about-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.about-list {
  list-style: none;
}
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.team-list {
  list-style: none;
}
.team-top-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.team-bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.footer-second-logo {
  color: #ffffff;
}
.footer-address {
}
.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer-list {
  list-style: none;
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: #2196f3;
}

/* --------------Портфоліо------------------------ */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.menu--top-list {
  list-style: none;
}

.menu-item-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.menu-item-btn:hover,
.menu-item-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.menu-under-list {
  list-style: none;
}

.menu-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}
.menu-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
